# SPDX-FileCopyrightText: 2021 Ethel Morgan
#
# SPDX-License-Identifier: GPL-2.0-or-later

strict_env

if has lorri; then
  # Prefer to use the lorri service.
  eval "$(lorri direnv)"
elif has nix-shell; then
  # Fall back to regular nix-env.
  use nix
fi

path_add VIM_TEMPLATES .vim_templates
